.clearfix {
    clear: both;
}

.text-center {
    text-align: center;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.container {
    width: 100%;
    max-width: 1440px;
    overflow: auto;
    margin: 0 auto;
}

body {
    background: black;
}

.header-menu li {
    float: left;
}

.header-logo {
    width: 90px;
}